

nav {
    width: 100%;
    height: 25%;
    padding: 0;
    border: 1px solid black;
}






.input-box{
    width: 50%;
    border: 1px solid black;
   padding: 0px;
   margin-right: 200px;

    
}


.col-xs-4 {
   height: 60px;
   width: 85%;
}


.lower-box{
    height: 30%;
    width: 50%;
    border: 1px solid black;
   padding: 0px;
   
   margin-left: 25%;

}




// Alexis Part/ Start

.deleteMessages {
    position: relative;
   left: 90%;
}

.container.center_div{
    border: 1px solid black;
    margin-top: 60px;
    width: 70%;

    
}


.form-group {
    border: 1px solid black;
    width: 70%;
    margin-left: 70px;
}

.form-control {
    height: 300px;
   
}
// Alexis Part/ Ends